.panel-heading div {
    margin-top: -18px;
    font-size: 15px;
}

.panel-heading div span{
    margin-left:5px;
}

.date-section {
    display: flex;
    justify-content: space-between;
    horiz-align: center;
}

.date-box {
    display: grid;
    flex-grow: 1;
}

.date-box + .date-box {
    border-left: solid 20px white;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex{
    padding-top: 0 !important;
    background-color: white !important;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
    padding: 0;
}

::ng-deep .mat-form-field-wrapper {
    margin-bottom: -10px;
}

::ng-deep .ngx-timepicker {
    padding-bottom: 5px;
}

::ng-deep .ngx-timepicker {
    height: 70% !important;
    border-bottom: 0 !important;
    padding: 0;
}

::ng-deep input.mat-input-element {
    margin-left: 13px;
    color: rgb(105,102,107);
}

::ng-deep .ngx-material-timepicker-toggle {
    padding: 0 0 5px 0 !important;
    margin-right: 20px;
    filter: invert(56%) sepia(0%) saturate(1223%) hue-rotate(142deg) brightness(78%) contrast(68%);
}

.timepicker {
    margin-left: 28px;
}